<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <add name="ASPdb_AppData" connectionString="" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>

  <appSettings>
    <add key="DebugLog" value="false" xdt:Transform="Remove"  xdt:Locator="Match(key)" />
  </appSettings>

  <system.net>
    <mailSettings>
      <smtp from="" xdt:Transform="SetAttributes">
        <network host="" port="25" userName="" password="" xdt:Transform="SetAttributes" />
      </smtp>
    </mailSettings>
  </system.net>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>